@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    overflow-x: hidden;
    overflow-y: hidden;
}
body{
    /* background-image: url(../img/background-img.jpg) */
    /* background-image: linear-gradient(red, yellow); */
}
.gamebackground{
    background: url(../);
}
.instruction-arrowsize{
    font-size: 4em;
}
.instruction-center{
    color: white;
}
.canvastetrisdesign{
    border-style: solid;
    border-color: black;
}
.logo{
    width: auto;
    height: 20em;
}
.start-page{
        position: absolute;
        top: 4em;
}
.score{
    font-size: 1.3em;
}
.btn-play{
    background-color: #23f111;
    color: #ffffff;
    outline: none;
    font-weight: bold;
    font-size: 1.2em;
    font-family: Roboto,sans-serif;
    border-radius: 29px;
    margin-top: 5em;
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    
}

@media screen and (min-width: 980px) /* Desktop */ {
    .buttons{
        position: absolute;
        left: 15em;
        top: 15em;  
    }
  }
.far,
.fas{
    font-size: 1.5em;;
}
.btn-play:hover{
    background-color: #fdf30c;
}