
*{
    overflow-x: hidden;

}
.logo{
    width: auto;
    height: 20em;
}
.start-page{
    height: 100vh;
}
.btn-play{
    background-color: #23f111;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2em;
    
}