@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    overflow-x: hidden;

}
body{
    /* background-image: url(../img/background-img.jpg) */
    /* background-image: linear-gradient(red, yellow); */
}
.logo{
    width: auto;
    height: 20em;
}
.start-page{
        position: absolute;
        top: 4em;
}
.score{
    /* position: absolute;
    top: 4em; */
    font-weight: 900;
}
.btn-play{
    background-color: #23f111;
    color: #ffffff;
    outline: none;
    font-weight: bold;
    font-size: 1.2em;
    font-family: Roboto,sans-serif;
    border-radius: 29px;
    margin-top: 5em;
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    
}
.btn-play:hover{
    transition:all 2s;
    background-color: #fdf30c;
}